@import "tailwindcss";

:root {
  --brand: #265084;
  --dark-brand: #102c4e;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);
}

body {
  box-sizing: border-box;
}

@keyframes auth-bg-scroll-left {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2158px 0;
  }
}

.scrolling-auth-bg {
  background-image: url("/auth-background.webp");
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: auth-bg-scroll-left 30s linear infinite;
}